* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: fixed;
  }
  
  header {
    padding: 45px 15px;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  .login{
    width: 400px;
    margin: 20px auto;
  }
  
  .login__form {
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    padding: 5px;
  }
  
  .login__form__credentials {
    text-align: center;
  }
  
  .login__form__credentials input{
    display: block;
    width: 90%;
    margin: 5px auto;
  }
  
  .login__form__controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .login__form__btn {
    margin-top: 15px;
  }
  