@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 18px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    min-width: 100%;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    position: fixed;
  }
  
  header {
    padding: 45px 15px;
    font-family: 'neuton';
    font-size: 2em
  }

  .landing-page {
    font-family: 'Crimson Text', serif; 
    font-size: 1.2em
  }

  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  .login{
    width: 400px;
    margin: 20px auto;
  }
  
  .login__form {
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    padding: 5px;
  }
  
  .login__form__credentials {
    text-align: center;
  }
  
  .login__form__credentials input{
    display: block;
    width: 90%;
    margin: 5px auto;
  }
  
  .login__form__controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
  }
  
  .login__form__btn {
    margin-top: 15px;
  }
  

  @media screen and (min-width: 450px) {

    .container {
      display: flex;
    }

    p.landing-page.one {
      flex-direction: column;
      justify-content: flex-end;
      padding: 40px;
      margin-left: 20px;
    }

    .two {
      justify-content: flex-start;
      padding: 40px;
      margin-left: 20px;
    }
  }