* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  min-width: 320px;
}

header {
  padding: 45px 15px;
  text-align: center;
}

.location-item-name {
  font-size: 36px;
}

.location-item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: .5em;
  padding: 20px;
}

.location-detail {
  padding: .5em
}

.post-ratings {
  padding: .5em
}


label {
  display: block;
}

.form-section {
  margin-bottom: 30px;
}

.location-container-detail {
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .location-item-header {
    flex-direction: column;
    justify-content: center;
  }
  
  .location-item-body {
    
    padding: 0 5em;
  }

}
