@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@700&display=swap');



body {
  margin: 0;
  font-family: 'Neuton',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
